.node_item {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    color: #4A485F;
    padding: 5px;
    margin: 5px 0;
    @media screen and (min-width: 768px) {
        font-size: 14px;
    }
}
.node_title {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 5px;
    width: 12px;
    height: 12px;
    @media screen and (min-width: 768px) {
        width: 15px;
        height: 15px;
    }
}